@page
@model NWTDb.Pages.Admin.CreateProductModel
@{
}

<form method="post">
    <div class="form-group">
        <label>Product Code</label>
        <input type="text" class="form-control" asp-for="product.ProductCode" required />
    </div>

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="product.ProductName" required>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" asp-for="product.Description" required ></textarea>
    </div>

    <div class="form-group">
        <label>CategoryID</label>
        <input type="text" class="form-control" asp-for="product.CategoryID" required />
    </div>

    <div class="form-group">
        <label>Standard Cost</label>
        <input type="text" class="form-control" asp-for="product.StandardCost" required />
    </div>

    <div class="form-group">
        <label>List Cost</label>
        <input type="text" class="form-control" asp-for="product.ListPrice" required />
    </div>

    <div class="form-group">
        <label>Reorder Level</label>
        <input type="text" class="form-control" asp-for="product.ReorderLevel" required />
    </div>

    <div class="form-group">
        <label>Target Level</label>
        <input type="text" class="form-control" asp-for="product.TargetLevel" required />
    </div>
    
    <div class="form-group">
        <label>Supplier ID</label>
        <input type="text" class="form-control" asp-for="product.SupplierID" required />
    </div>

    <div class="form-group">
        <label>Available Quantity</label>
        <input type="text" class="form-control" asp-for="product.AvailableQty" required />
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" asp-for="product.prodimage" value="fruits.jpg" required />
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="product.Discontinued" />
        <label class="form-check-label">Discontinued</label>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="product.Reordered" />
        <label class="form-check-label">Reordered</label>
    </div>

    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>