@page
@model NWTDb.Pages.Product.PlaceOrderModel
@{
}

<div class="row justify-content-center">
    <div class="col-md-9">
        <h2>Order Summary</h2>
        <ul class="list-group">
            @foreach (var item in Model.CartItems)
            {
                <li class="list-group-item justify-content-between">
                    <span>@item.ProductName (x @item.QuantityToOrder)</span>
                    <span>@item.Subtotal.ToString("c")</span>
                </li>
            }
        </ul>
        <hr />
        <div class="text-end">
            <strong>Total: @Model.CartTotal.ToString("c")</strong>
        </div>
        <div class="col-md-6">
            <form method="post">
                <button class="btn btn-primary">Place Purchase Order</button>
            </form>
        </div>
    </div>
</div>